@font-face {
    font-family: 'Comic sans MS';
    src: url('assets/fonts/ComicSansMS3.otf')format('opentype'),
        url('assets/fonts/ComicSansMS3.ttf') format('truetype'),
        url('assets/fonts/ComicSansMS3.woff')format('woff');
}

body{
    margin: 0;
    font-family: 'Comic sans MS';
    background-color: #f1f8fc;
} 